/* common */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400px;
    color: #333;

}

a {
    text-decoration: none;
}

/* float clearFIx */

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/*SUMMARY*/

.summary {}

.summary__title {
    font-size: 38px;
    font-weight: 300;
    line-height: 1.23;
    margin-bottom: 18px;
}

.summary__description {
    font-size: 26px;
    font-weight: 300;
    color: #7676;
    line-height: 1.5;

}

/* SECTION& INNER  */

.section {
    position: relative;

}


.section .inner {
    max-width: 980px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}




/* button */
.btn {
    height: 34px;
    background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    color: #333;
}

.btn:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.07);

}

.btn.btn--primary {
    border: 1px solid #65b836;
    color: #fff;
    background: #55a532 linear-gradient(#91dd70, #55ae2e);
}

/* input-text */
.input--text {

    height: 34px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
    font-size: 16px;
}

.input--text:focus {
    border-color: #51a7e8 !important;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),
        0 0 5px rgba(81, 167, 232, 0.5);
}

.input--text::-webkit-input-placeholder {
    color: #cacacaca;
}

.input--text::-ms-input-placeholder {
    color: #cacaca;
}

.input--text::-moz-input-placeholder {
    color: #cacaca;
}


/* HEADER */
header {
    border-bottom: 1px solid rgba(0, 0, 0, .75);
    box-shadow: 0 0 5px rgba(0, 0, 0, .75);
    background: #FFF;

}

header .inner {

    height: 78px;

}

header .menu-group {
    display: flex;
    align-items: center;
    height: 100%;

}

header .logo {
    margin-right: 10px;

}

header .logo a {
    background: url("../img/logo.svg");
    width: 32px;
    height: 32px;
    display: block;
    text-indent: -9999px;
}

header .logo a:hover {
    background: url("../img/logo_on.svg");
}

header .main-menu {
    display: flex;
}

header .menu-group li a {
    display: block;
    padding: 10px;
    color: #3c4146;
}



header .main-menu li a:hover {
    color: #4078c0;
}

header .sign-group {
    display: flex;
    align-items: center;
    height: 100%;

}

header .btn-group {
    order: 2;
    display: flex;
}

header .btn-group .sign-in {
    margin-right: 4px;
}

#search-form {
    order: 1;
    margin-right: 12px;
}

#search {
    width: 160px;
    font-size: 14px;
}

#search+[type="submit"] {
    display: none;

}

header .sub-menu {
    display: flex;
    margin-right: 10px;
}

header .sub-menu li a {
    display: block;
    padding: 8px;
    font-size: 13px;
    color: #3c4146;
}

header .sub-menu li a:hover {
    color: #4078c0;
}

/* VISUAL */

.section--visual {

    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
}

.section--visual::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
}

.section--visual .inner {
    display: flex;
    padding: 160px 0;

}

.section--visual.summary {
    flex: 1;

}

.section--visual .summary__title {
    color: #fff;
    font-size: 54px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25),
        0 1px 25px rgba(0, 0, 0, 0.075);
}

.section--visual .summary__description {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25),
        0 1px 25px rgba(0, 0, 0, 0.075);
}

#sign-form {}

#sign-form .input--text {
    width: 100%;
    height: 40px;
}

#sign-form li {
    width: 340px;
    margin-bottom: 17px;
}

#sign-form li:last-child {
    margin-bottom: 0;
}

#sign-form .caption {
    font-size: 12px;
    margin-top: 5px;
    color: rgba(255, 255, 255, .6);
    text-align: center;
}

#sign-form [type="submit"] {
    width: 100%;
    height: 62px;
    padding: 0 25px;
    font-size: 20px;
    justify-content: center;
}

/* FEATURE */

.section--feature {
    background: #f5f5f5;
    padding-top: 66px;
}

.section--feature .summary {
    max-width: 820px;
    margin: 0 auto;
    text-align: center;

}

.section--feature .video {
    max-width: 650px;
    margin: 50px auto;

}

.section--feature .video.video-ratio {
    height: 0;
    padding-top: 56.25%;
    position: relative;
}

.section--feature .video-ratio [type="iframe"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section--feature .tiles {
    border-top: 1px solid #e5e5e5;
    border-bottom: solid #e5e5e5;
}

.section--feature .tiles .inner {
    max-width: 1200px;
}

.section--feature .tiles  ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.section--feature .tiles  li{
    padding: 34px 24px;
    text-align: center;
    line-height: 1.5;
    margin-right: 1px solid #e5e5e5;
    box-sizing: border-box;
}

.section--feature .tiles  li:last-child{
    border-right: none;
}

.section--feature .tiles  li img{
        max-width: 100%;
        padding: 14px 10% 24px;
        box-sizing: border-box;
}
.section--feature .tiles  h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.section--feature.tiles p {
    font-size: 14px;
    color: #767676;
}